.bg-lightred{
	background: #e92a4a !important;
	box-shadow:unset;
}
.btn-lightred{
	background: #e92a4a !important;
	color: #FFFFFF !important;
	padding: 10px 30px !important;
}
.login-page .card-login .btn-wd{
	min-width:unset;
}
.text-lightred{
	color: #e92a4a !important;
}

.invalid-feedback {
    display: none;
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;
}
.form-control.is-invalid~.invalid-feedback, .form-control.is-invalid~.invalid-tooltip, .was-validated .form-control:invalid~.invalid-feedback, .was-validated .form-control:invalid~.invalid-tooltip{
	display: block;
}

/* You can add global styles to this file, and also import other style files */
#toast-container>div {
    opacity: 1;
    top:50px;
}

.toast-container .ngx-toastr {
    width: 350px;
}

.toast-top-right {
    right: 75px;
}
.view-profile-button,
.edit-button,
.delete-button{
    padding: 7px 7px;
    margin: 2px 1px;
}
.swal2-container:not(.swal2-in){
    pointer-events: all !important;
}
.swal2-icon.swal2-warning {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #f8bb86;
    border-color: #facea8;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
}
.swal2-popup{
    width: 500px !important;
}
.swal2-confirm:focus,.swal2-cancel:focus{
    box-shadow:unset !important;
}
.swal2-confirm,.swal2-cancel{
    font-size: 20px !important;
    box-shadow:unset !important;
}
.swal2-confirm{
    background-color: #e92a4a !important;
}
.sidebar[data-active-color="lightred"] li.active > a{
    background-color: #e92a4a !important;
}
.card [data-background-color="lightred"]
{
    background-color: #e92a4a !important;
}
.navbar .dropdown-menu li a:hover, .navbar .dropdown-menu li a:focus, .navbar .dropdown-menu li a:active, .navbar.navbar-default .dropdown-menu li a:hover, .navbar.navbar-default .dropdown-menu li a:focus, .navbar.navbar-default .dropdown-menu li a:active, .bootstrap-table .dropdown-menu li a:hover, .bootstrap-table .dropdown-menu li a:focus, .bootstrap-table .dropdown-menu li a:active{
    background-color: #e92a4a !important;
}
.show{
    opacity: 1 !important;
}
.modal-dialog-centered{
    display: block !important;
}
.add-user-form  .mymodal{
   top:130px !important;
}
.add-user-form .modal-content .modal-header{
    padding-top:5px !important;
}
.add-user-form .modal-content .modal-header .close{
    font-size: 25px;
    position: absolute;
    top: 14px;
    right: 15px;

}
.add-user-form  .modal-content .modal-body{
    padding: 10px 20px !important;
}

.btn-green{
    background: linear-gradient(60deg, #66bb6a, #43a047);
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(76, 175, 80, 0.4)
}
.login-page > .content, .lock-page > .content {
    padding-top:33vh !important;
}
.card{
    cursor: pointer;
}
.form-group input[type=file]{
    opacity: 1;
    height: 32px;
    position: relative;
}